body {
  padding-top: 100px;
}

.gallery .gallery-content .gallery-container .gallery-text {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 17px;
  line-height: 45px;
}

.gallery .gallery-content .gallery-container .gallery-image-container {
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.gallery .gallery-content .gallery-container .gallery-image-container .gallery-image {
  margin-bottom: 20px;
  max-width: 367px;
  width: 100%;
  display: block;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 95px;
  }

  .gallery .gallery-content .gallery-container .gallery-text {
    font-size: 28px;
    margin-bottom: 6px;
    line-height: 32px;
  }

  .gallery .gallery-content .gallery-container .gallery-image-container {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .gallery .gallery-content .gallery-container .gallery-image-container .gallery-image {
    margin-bottom: 15px;
  }

  .gallery .gallery-content .gallery-container .gallery-image-container .gallery-image:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .gallery .gallery-content .gallery-container .gallery-image-container {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .gallery .gallery-content .gallery-container .gallery-image-container .gallery-image {
    margin-bottom: 10px;
    max-width: inherit;
    width: 100%;
    display: block;
    border-radius: 10px;
  }
}