.banner {
  padding-top: 110px;
}

.banner .banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .banner-content .banner-text-container {
  margin-top: 30px;
  width: 100%;
  margin-right: 35px;
}

.banner .banner-content .banner-text-container .banner-text {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.banner .banner-content .banner-text-container .banne-bg {
  margin-top: 50px;
}

.banner .banner-content .banner-image-container .banner-image {
  border-radius: 14px;
  padding: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 14px rgba(29, 29, 29, 0.15);
          box-shadow: 0px 4px 14px rgba(29, 29, 29, 0.15);
  width: 100%;
  border-radius: 10px;
}

.table {
  width: 100%;
  margin-top: 60px;
}

.table .table-content .table-text {
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 22px;
}

.table .table-content .table-container {
  background-color: #fff;
  border-radius: 10px;
}

.table .table-content .table-container .table-row-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #3464af;
  padding: 0 30px;
  padding-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.table .table-content .table-container .table-row-header .table-point-header {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  width: 100%;
}

.table .table-content .table-container .table-row-header .table-point-header[data-type=year] {
  max-width: 160px;
}

.table .table-content .table-container .table-row-header .table-point-header[data-type=program] {
  max-width: 350px;
  margin-right: 40px;
}

.table .table-content .table-container .table-row-header .table-point-header[data-type=people] {
  max-width: 270px;
  margin-right: 20px;
}

.table .table-content .table-container .table-row-header .table-point-header[data-type=intensive],
.table .table-content .table-container .table-row-header .table-point-header[data-type=work] {
  max-width: 636px;
  margin-right: 40px;
}

.table .table-content .table-container .table-row-header .table-point-header[data-type=hours] {
  max-width: 240px;
}

.table .table-content .table-container .table-row-header .table-point-header[data-type=workHours] {
  max-width: 143px;
}

.table .table-content .table-container .table-row-header .table-point-header[data-type=special] {
  max-width: 240px;
  margin-right: 40px;
}

.table .table-content .table-container .table-row-header .table-point-header[data-type=university] {
  max-width: 530px;
  width: 100%;
}

.table .table-content .table-container .table-row-header .table-point-header[data-type=place] {
  max-width: 440px;
  margin-right: 40px;
}

.table .table-content .table-container .table-row {
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e2e2e2;
}

.table .table-content .table-container .table-row:last-child {
  border: none;
}

.table .table-content .table-container .table-row .table-point {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3d3d3d;
  width: 100%;
  padding: 20px 0;
}

.table .table-content .table-container .table-row .table-point[data-type=year] {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  max-width: 160px;
}

.table .table-content .table-container .table-row .table-point[data-type=program] {
  max-width: 350px;
  margin-right: 40px;
}

.table .table-content .table-container .table-row .table-point[data-type=people] {
  max-width: 270px;
  margin-right: 20px;
}

.table .table-content .table-container .table-row .table-point[data-type=intensive],
.table .table-content .table-container .table-row .table-point[data-type=work] {
  max-width: 636px;
  margin-right: 40px;
}

.table .table-content .table-container .table-row .table-point[data-type=hours] {
  max-width: 240px;
}

.table .table-content .table-container .table-row .table-point[data-type=workHours] {
  max-width: 143px;
}

.table .table-content .table-container .table-row .table-point[data-type=special] {
  max-width: 240px;
  margin-right: 40px;
}

.table .table-content .table-container .table-row .table-point[data-type=university] {
  max-width: 530px;
}

.table .table-content .table-container .table-row .table-point[data-type=place] {
  max-width: 440px;
  margin-right: 40px;
}

.exp {
  margin-top: 50px;
}

.exp .exp-content .exp-container {
  background: #34bb8b;
  padding: 26px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exp .exp-content .exp-container .exp-image {
  margin-right: 25px;
}

.exp .exp-content .exp-container .exp-text {
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #fff;
}

.about-certificate {
  margin-top: 70px;
}

.about-certificate .about-certificate-content .about-certificate-text {
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 12px;
}

.about-certificate .about-certificate-content .about-certificate-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.about-certificate .about-certificate-content .about-certificate-container .about-certificate-point {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 260px 1fr;
  border-bottom: 1px solid #edf1f4;
  padding: 20px 0;
}

.about-certificate .about-certificate-content .about-certificate-container .about-certificate-point:last-child {
  border: none;
  padding: 0;
}

.about-certificate .about-certificate-content .about-certificate-container .about-certificate-point:first-child {
  padding: 0;
}

.about-certificate .about-certificate-content .about-certificate-container .about-certificate-point .about-certificate-point-image {
  margin-right: 20px;
  max-width: 257px;
  max-height: 182px;
  margin: auto;
}

.about-certificate .about-certificate-content .about-certificate-container .about-certificate-point .about-certificate-point-text .about-certificate-point-text-main {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 7px;
}

.about-certificate .about-certificate-content .about-certificate-container .about-certificate-point .about-certificate-point-text .about-certificate-point-text-second {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}